{% extends "template.html" %}
{% block conteudo%}
<form action="/create_customers" method="post">
    <fieldset>
        <br>
        <div class="form-group">
            <label for="companyName">Razão Social</label>
            <input type="text" id="companyName" name="companyName" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="tradingName">Nome Fantasia</label>
            <input type="text" id="tradingName" name="tradingName" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="vat">CNPJ</label>
            <input type="text" id="vat" name="vat" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="representative">Representante</label>
            <input type="text" id="representative" name="representative" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="contact">Contato</label>
            <input type="text" id="contact" name="contact" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="street">Logradouro</label>
            <input type="text" id="street" name="street" class="form-control">
        </div>
        <div class="form-group">
            <label for="number">Numero</label>
            <input type="text" id="number" name="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="complement">Complemento</label>
            <input type="text" id="complement" name="complement" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="neighborhood">Bairro</label>
            <input type="text" id="neighborhood" name="neighborhood" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="city">Cidade</label>
            <input type="text" id="city" name="city" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="state">Estado</label>
            <input type="text" id="state" name="state" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="zipCode">CEP</label>
            <input type="text" id="zipCode" name="zipCode" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="walletManagerId">Gestor de Conta</label>
            <input type="number" id="walletManagerId" name="walletManagerId" class="form-control">
        </div>
        <br />

        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
</form>

{% endblock %}