{% extends "template.html" %}
{% block conteudo%}
<div id="list-users"></div>

<!-- Modal de Edição -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" method="post">
          <input type="hidden" id="userId" name="userId">
          <legend>Dados Pessoais</legend>
          <div class="col-md-6">
            <label for="fullName">Nome Completo</label>
            <input type="text" id="fullName" name="fullName" class="form-control">
          </div>
          <div class="col-md-4">
            <label for="document">Documento</label>
            <input type="text" id="document" name="document" class="form-control">
          </div>
          <!-- TODO: incrementar após criação do endpoint create group -->
          <div class="col-md-2">
            <label for="userGroupId">Grupo</label>
            <input type="text" id="userGroupId" name="userGroupId" class="form-control">
          </div>
          <legend>Dados de Login</legend>
          <div class="col-md-5">
            <label for="user">Usuário</label>
            <input type="email" id="user" name="user" class="form-control">
          </div>
          <div class="col-md-5">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
          <!-- TODO: exebir o check ativado quando o ative é True e desativado quando false-->
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="active" role="switch" {% if dados.active %}checked{%
              endif %}>
            <label for="active">Status</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
  Criar Usuário
</button>

<!-- Modal de Criação de Usuário -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createUserModalLabel">Novo Usuário</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create-user" method="post" class="row g-3">
          <legend>Dados Pessoais</legend>
          <div class="col-md-6">
            <label for="fullName">Nome Completo</label>
            <input type="text" id="fullName" name="fullName" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="document">Documento</label>
            <input type="text" id="document" name="document" class="form-control">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <label for="userGroupId">Grupo</label>
            <input type="text" id="userGroupId" name="userGroupId" class="form-control">
          </div>
          <legend>Dados de Login</legend>
          <div class="col-md-5">
            <label for="user">Usuário</label>
            <input type="email" id="user" name="user" class="form-control">
          </div>
          <div class="col-md-5">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="dvDados" style="display: none;">{{ dados }}</div>
<script src="{{ url_for('static', filename='tabulator/js/tabulator.min.js') }}"></script>
<link href="{{ url_for('static', filename='tabulator/css/tabulator_bootstrap4.css') }}" rel="stylesheet">
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var table = new Tabulator("#list-users", {
      data: JSON.parse(document.getElementById('dvDados').textContent),
      height: "311px",
      layout: "fitColumns",
      columns: [
        { title: "ID", field: "id", width: 70, headerFilter: true },
        { title: "Usuário", field: "user", width: 200, headerFilter: true },
        { title: "Grupo", field: "userGroupId", width: 200, headerFilter: true },
        { title: "Status", field: "active", width: 150, headerFilter: true },
        { title: "", formatter: editButtonFormatter, width: 100, hozAlign: "center" },
        { title: "", formatter: deleteButtonFormatter, width: 100, hozAlign: "center" },
      ],
    });

    function editButtonFormatter(cell, formatterParams, onRendered) {
      var editButton = document.createElement("button");
      editButton.className = "btn btn-outline-warning btn-sm";
      editButton.textContent = "Editar";

      var rowData = cell.getRow().getData();
      editButton.addEventListener("click", function () {
        openEditModal(rowData);
      });
      
      return editButton;
    }


    function openEditModal(data) {
      var editModal = new bootstrap.Modal(document.getElementById('editModal'));
      let editForm = document.getElementById("editForm");
      
      editForm.setAttribute('action', '/update-user/' + data.id);
      document.getElementById('userId').value = data.id;
      document.getElementById('fullName').value = data.fullName;
      document.getElementById('document').value = data.document;
      document.getElementById('userGroupId').value = data.userGroupId;
      document.getElementById('user').value = data.user;
      document.getElementById('password').value = data.password;
      // TODO: Enviar o status do usuário
      // document.getElementById('active').value = data.active;


      editModal.show();
    }

    function deleteButtonFormatter(cell, formatterParams, onRendered) {
      var deleteButton = document.createElement("button");
      deleteButton.className = "btn btn-outline-danger btn-sm";
      deleteButton.textContent = "Deletar";
      var rowData = cell.getRow().getData();
      deleteButton.addEventListener("click", function () {
        if (confirm("Tem certeza que deseja deletar o usuário?")) {
          window.location.href = '/delete-user/' + rowData.id;
        }
      });
      return deleteButton;
    }
  });
</script>
{% endblock %}