{% extends "template.html" %}
{% block conteudo%}
<div id="list-groups"></div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Permissões</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="width: 100%; display: flex; flex-wrap: nowrap; flex-direction: row;">
          <div id="list-routes" style="width: 50%;"></div>
          <div style="width: 50%;">
            <div id="routes-released"></div>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" onclick="saveTable()" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>




<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createGroupModal">
  Criar Grupo
</button>

<!-- Modal de Criação de Grupo -->
<div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createGroupModalLabel">Novo Grupo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create-group" method="post" class="row g-3">
          <div class="col-md-6">
            <label for="groupName">Nome do Grupo</label>
            <input type="text" id="groupName" name="groupName" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="dataGroups" style="display: none;">{{ groups }}</div>
<script src="{{ url_for('static', filename='tabulator/js/tabulator.min.js') }}"></script>
<link href="{{ url_for('static', filename='tabulator/css/tabulator_bootstrap4.css') }}" rel="stylesheet">
<script>

  var rowData;
  document.addEventListener("DOMContentLoaded", function () {
    var table = new Tabulator("#list-groups", {
      data: JSON.parse(document.getElementById('dataGroups').textContent),
      height: "311px",
      layout: "fitColumns",
      columns: [
        { title: "ID", field: "id", width: 70, headerFilter: true },
        { title: "Grupo", field: "groupName", width: 200, headerFilter: true },
        { title: "Status", field: "active", width: 200, headerFilter: true },
        { title: "", formatter: editButtonFormatter, width: 100, hozAlign: "center" },
        { title: "", formatter: deleteButtonFormatter, width: 100, hozAlign: "center" },
      ],
    });




    function editButtonFormatter(cell, formatterParams, onRendered) {
      var editButton = document.createElement("button");
      editButton.className = "btn btn-outline-warning btn-sm";
      editButton.textContent = "Editar";

      rowData = cell.getRow().getData();
      editButton.addEventListener("click", function () {
        openEditModal(rowData);
      });
      return editButton;
    }

    function openEditModal(data) {
      // Requisição GET: /list-routes
      // A resposta será o data
      var dataGroup = data;
      console.log(dataGroup);
      var editModal = new bootstrap.Modal(document.getElementById("editModal"));
      var get = new XMLHttpRequest();

      get.open("GET", "/list-routes", true);
      get.send();
      get.onreadystatechange = function () {
        if (get.readyState == 4 && get.status == 200) {
          console.log(get.responseText);
          var responseData = JSON.parse(get.responseText);

          var table = new Tabulator("#list-routes", {
            height: 311,
            layout: "fitColumns",
            movableRows: true,
            movableRowsConnectedTables: "#routes-released",
            movableRowsReceiver: "add",
            movableRowsSender: "delete",
            placeholder: "All Rows Moved",
            data: responseData,
            columns: [
              { title: "Name", field: "routeName" },
            ],
          });

          editModal.show(); // Exibir o modal
        }
      }
    }



    function deleteButtonFormatter(cell, formatterParams, onRendered) {
      var deleteButton = document.createElement("button");
      deleteButton.className = "btn btn-outline-danger btn-sm";
      deleteButton.textContent = "Deletar";
      rowData = cell.getRow().getData();
      deleteButton.addEventListener("click", function () {
        if (confirm("Tem certeza que deseja deletar o Grupo?")) {
          window.location.href = '/delete-group/' + rowData.id;
        }
      });
      return deleteButton;
    }

  });



  var table2 = new Tabulator("#routes-released", {
    height: 311,
    layout: "fitColumns",
    placeholder: "Drag Rows Here",
    data: [],
    columns: [
      { title: "Name", field: "routeName" },
    ],
  });

  function saveTable() {
    var dataGroup = rowData.id;
    console.log(dataGroup);
    var data = table2.getData()
    console.log(data)

    if (data !== null && data !== undefined)
      data.forEach(function (item) {
        item['userGroupsId'] = dataGroup;
      });

    else {
      console.log('Error')
    };
    var post = new XMLHttpRequest();

    post.open("POST", "/register-routes-group", true);
    post.setRequestHeader("Content-Type", "application/json");
    post.onreadystatechange = function () {
      if (post.readyState === 4) {
        if (post.status === 200) {
          console.log("Resposta do servidor:", post.responseText);
        } else {
          console.error("Erro na requisição:", post.status);
        }
      }
    };

    // Converte os dados para JSON antes de enviar
    var jsonData = JSON.stringify(data);
    console.log(jsonData);
    post.send(jsonData);

  }

</script>
{% endblock %}