{% extends "template_login.html" %}
{% block conteudo%}
      <form class="form-signin" action="/login" method="post">
            <label class="sr-only" for="user"></label>
            <input type="email" id="user" name="user" class="form-control" placeholder="Seu email" required autofocus>

            <label class="sr-only" for="password"></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
      </form>

{% endblock %}