{% extends "template.html" %}
{% block conteudo%}
<form action="/update-customer/{{ customers.id }}" method="post">
    <fieldset>
        <br>
        <div class="form-group">
            <label for="companyName">Razão Social</label>
            <input type="text" id="companyName" name="companyName" class="form-control"
                value="{{ customers.companyName }}">
        </div>
        <br />
        <div class="form-group">
            <label for="tradingName">Nome Fantasia</label>
            <input type="text" id="tradingName" name="tradingName" class="form-control"
                value="{{ customers.tradingName }}">
        </div>
        <br />
        <div class="form-group">
            <label for="vat">CNPJ</label>
            <input type="text" id="vat" name="vat" class="form-control" value="{{ customers.vat }}">
        </div>
        <br />
        <div class="form-group">
            <label for="representative">Representante</label>
            <input type="text" id="representative" name="representative" class="form-control"
                value="{{ customers.representative }}">
        </div>
        <br />
        <div class="form-group">
            <label for="telephone">Telefone</label>
            <input type="text" id="telephone" name="telephone" class="form-control" value="{{ customerContact.telephone }}">
        </div>
        <br />
        <div class="form-group">
            <label for="cell">Celular</label>
            <input type="text" id="cell" name="cell" class="form-control" value="{{ customerContact.cell }}">
        </div>
        <br />
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ customerContact.email }}">
        </div>
        <br />
        <div class="form-group">
            <label for="publicPlace">Logradouro</label>
            <input type="text" id="publicPlace" name="publicPlace" class="form-control" value="{{ customersAddrees.publicPlace }}">
        </div>
        <br />
        <div class="form-group">
            <label for="street">Rua</label>
            <input type="text" id="street" name="street" class="form-control" value="{{ customersAddrees.street }}">
        </div>
        <div class="form-group">
            <label for="number">Numero</label>
            <input type="text" id="number" name="number" class="form-control" value="{{ customersAddrees.number }}">
        </div>
        <div class="form-group">
            <label for="complement">Complemento</label>
            <input type="text" id="complement" name="complement" class="form-control" value="{{ customersAddrees.complement }}">
        </div>
        <br />
        <div class="form-group">
            <label for="neighborhood">Bairro</label>
            <input type="text" id="neighborhood" name="neighborhood" class="form-control" value="{{ customersAddrees.neighborhood }}">
        </div>
        <br />
        <div class="form-group">
            <label for="city">Cidade</label>
            <input type="text" id="city" name="city" class="form-control" value="{{ customersAddrees.city }}">
        </div>
        <br />
        <div class="form-group">
            <label for="state">Estado</label>
            <input type="text" id="state" name="state" class="form-control" value="{{ customersAddrees.state }}">
        </div>
        <br />
        <div class="form-group">
            <label for="zipCode">CEP</label>
            <input type="text" id="zipCode" name="zipCode" class="form-control" value="{{ customersAddrees.zipCode }}">
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="walletManagerId">Gestor da Conta</label>
            <input type="text" id="walletManagerId" name="walletManagerId" class="form-control"
                value="{{ customers.walletManagerId }}">
        </div>
        <br />
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="active" role="switch" {% if customers.active
                %}checked{% endif %}>
            <label for="active">Ativo</label>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
</form>

{% endblock %}